<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32100">
        <!-- EPG update settings. -->
        <setting id="startup.update"    type="bool" label="32010"  default="false" />
        <setting id="update.frequency"  type="enum" label="32012"  lvalues="32211|32212|32213|32214|32215|32216|32217" />
        
        <!-- EPG background selection settings. -->
        <setting id="type.background"   type="bool" label="32220"  default="true"></setting>        
        <setting id="image.background"  type="enum" label="32011"  visible="eq(-1,true)"  lvalues="32200|32201|32202|32203|32204|32205|32206|32207|32208|32209|32210" />
        <setting id="custom.background" type="file" label="32221"  visible="eq(-2,false)" value="path_to_files"/>
        
        <setting type="sep"/>
        <setting id="xmltv.source.type" type="enum" label="32013"  lvalues="32218|32219"/>
        <setting id="xmltv.local.value" type="file" label="32222"  visible="eq(-1,1)" value="path_to_files"/>
        <setting id="xmltv.url.value"   type="text" label="32223"  visible="eq(-2,0)" default="http://epg.koditvepg.com/FR/guide.xml" option="urlencoded"/>
        
    </category>
</settings>